@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    /* Change favorite color */
    /* #b8b8b8 */
    --gray: #9b9b9b;
    --grayhover:#575A6B;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340 - Brown 24*/

    /* HSL color mode */
    --first-color: var(--gray);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: var(--grayhover);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);


    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-alt-bold: 550;
    --font-semi-bold: 600;

    /*========== Margin Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3.5rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {

    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);

}


/*========== Button Dark/Light ==========*/
.nav_btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.border-bottom {
    border-bottom: 5px solid rgba(109, 87, 224,.075);
}

.section {
    padding: 2rem 0 4rem;
}

.section_title {
    font-size: var(--h1-font-size);
}

.section_subtitle {
    display: block;
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-3);
    color: var(--subtitle-color);
}

.section_title, .section_subtitle {
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -.4rem 1rem rgba(0,0,0,.15);
    padding: 5px 0;
}

/*==================== NAV ====================*/
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_logo {
    font-size: 1.1rem;
}

.nav_logo:hover {
    color: var(--first-color-);
}

.nav_toggle {
    font-size: 1.3rem;
    cursor: pointer;
}

.nav_toggle:hover {
    color: var(--first-color);
}

.nav_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.nav_list:hover {
    color: var(--first-color-lighter);
}

.nav_icon {
    font-size: 1.4rem ;
}

.nav_icon:hover, .nav_link:hover {
    color: var(--first-color);
}

.nav_close {
    font-size: 1.5rem;
    cursor: pointer;
    color: #FFF;
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    border-radius: .75rem;
    padding: 2px 7.5px;
}

.nav_close:hover {
    color: white;
    background-color: var(--first-color);
}

.bottom-right {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
}

.close-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
}

.close-text {
    font-size: var(--normal-font-size);
    margin: 0 5px;
}

/* Active link */
.active-link {
    color: var(--first-color);
}


/*==================== HOME ====================*/

.home_container {
    gap: 1rem;
}

.home_content {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home_social-icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.home_social-icon:hover {
    color: var(--first-color-alt);
}

  .home_blob {
  max-width: 220px;
    fill: var(--first-color);
}

.home_blob-img {
    width: 220px;
}  

.home_data {
    grid-column: 1/3;
}

.home_title {
    font-size: var(--big-font-size);
}

.home_subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home_description {
    margin-bottom: var(--mb-2);
    color: var(--text-color);
}

.home_scroll {
    display: none;
}

.home_scroll-button {
    color: var(--first-color);
    transition: .4s;
}

.home_scroll-button:hover {
    transform: translateY(.25rem);
}

.home_scroll-mouse {
    font-size: 2rem;
}

.home_scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home_scroll-arrow {
    font-size: 1.25rem;
}

/*==================== BUTTONS ====================*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button_icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .4s;
}

.button--white {
    background-color: #FFF;
    color: var(--first-color);
}

.button--white:hover {
    background-color: #FFF;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--small {
    padding: .75rem 1rem;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);;
}

.button--link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}
/* HOME CSS */


.pr-img {
  
    border-radius: 50%;
    background: var(--gray);
    object-fit: cover;
    
  } 
  .in-img {
    padding: .4rem;
    border-radius: 50%;
  } 

/*==================== ABOUT ====================*/
.about{
    margin-top: 3rem;
}
.about h2{
    margin-bottom: 1rem;
}
.about-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .middle{
      display: flex;
     /* media */
      width: 60%;
     
  }
  .vertical-line {
    width: 10%;
    margin-right: 20px;
    border-right: 2px solid #383838;
    opacity: .5;
    border-right: 2px solid #383838;
  }
  .technologies {
    width: 50%;
    justify-content: space-between;
    display: flex;
    margin-top: 1.5rem;
  }
  .tech {
    display: flex;
    align-items: center;
  }
  .arrow {
    width: 20px;
  }
  .techs {
    margin-top: 20px;
  }
  .resume {
      margin-top: 2rem;
    display: flex !important;
    justify-content: center !important;
}



/*==================== SKILLS ====================*/
.skill_container {
    row-gap: 0;
}

.skills_header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills_icon,
.skills_arrow {
    font-size: 2rem;
    color: var(--first-color);
}

.skills_icon {
    margin-right: var(--mb-0-75);
}

.skills_title {
    font-size: var(--h3-font-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills_subtitle {
    font-size: var(--small-font-size);
    color: var(--subtitle-color);
}

.skill_arrow {
    margin-left: auto;
    transition: .4s;
}

.skills_list {
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills_titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills_name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills-check {
    font-size: 2rem;
}


/*==================== SERVICES ====================*/
.services_content {
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
}

.services_content:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
}

.services_icon {
    display: block;
    font-size: 2.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.services_title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.services_button {
    cursor: pointer;
    font-size: var(--small-font-size);
}

.services_button:hover .button_icon {
    transform: translateX(.25rem);
}

.services_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.85);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.services_modal-content {
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: .5rem;
}

.services_modal-services {
    row-gap: 1rem;
}

.services_modal-service {
    display: flex;
}

.services_modal-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.services_modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

.services_modal-close:hover {
    color: var(--first-color-alt);
}

.services_modal-icon {
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}

/* Active Modal */
.active_modal {
    opacity: 1;
    visibility: visible;
}


/*==================== PORTFOLIO ====================*/
.portfolio_container {
    overflow: initial;
}

.portfolio_content {
    padding: 0 1.5rem;
}

.portfolio_img {
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio_title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio_description {
    margin-bottom: var(--mb-1);
}

.portfolio_button:hover .button_icon {
    transform: translateX(.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after{
    content: "";
}

.swiper-portfolio-icon {
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev {
    left: -.75rem;
}

.swiper-button-next {
    right: -.75rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
    outline: none;
}

.btn-align-center {
    margin: 1rem 1.5rem 0 1.5rem;
}

.justify-txts {
    text-align: center;
}

.portfolio-btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view_app_link {
    color: var(--first-color);
    display: flex;
}


/*==================== PROJECT IN MIND ====================*/
.project {
    text-align: center;
}

.project_bg {
    background-color: var(--first-color-second);
    padding-top: 3rem;
}

.project_title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}
 .project_description {
     margin-bottom: var(--mb-1-5);
 }

.project_title,
.project_description {
    color: #fff;
}

.project_img {
    width: 232px;
    justify-self: center;
}

.project_container {
    padding-bottom: 2.5rem;
}


/*==================== CONTACT ME ====================*/
.contact_container {
    row-gap: 3 rem;
}

.contact_information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact_icon {
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact_subtitle > a {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

/*==================== FOOTER ====================*/
.footer {
    padding-top: 2rem;
}

.footer_container {
    row-gap: 3.5rem;
}

.footer_bg {
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.footer_title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer_subtitle {
    font-size: var(--small-font-size);
}

.footer_links {
    display: flex;
    flex-direction: column;
    /* row-gap: 1.5rem; */
}

.p-1-5 {
    padding: .5rem 0 .5rem;
}

.footer_link:hover {
    color: var(--first-color-lighter);
}

.footer_socials {
    display: flex;
    justify-content: center;
}

.footer_social {
    font-size: 1.5rem;
    margin-right: var(--mb-1-5);
}

.footer_social:hover {
    color: var(--first-color-lighter);
}

.footer_copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-1-5);
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_social {
    color: #FFF;
}


/*========== SCROLL UP ==========*/

/* Show scroll */

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}